# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
# vendor/

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Build output
bin
